@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définition des variables CSS pour les couleurs de thème */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

/* Styles globaux pour le corps du document */
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  background-color: rgb(37, 36, 36); /* Force le fond noir */
}


/* Styles spécifiques pour les composants de la page */
#roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 0;
}

.financials, .tokenomics {
  font-weight: bold !important;
  font-size: 24px;
}

#roadmap h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.join-text, .Nextgen, .Tokenomics, .price-title {
  background: linear-gradient(30deg, #a21caf 0%, #1e62d0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.logo {
  color: white;
  font-weight: bold;
}

.join-text { font-size: 48px; }
.Nextgen { font-size: 55px; }
.logo { font-size: 20px; }
.Tokenomics, .price-title { font-size: 70px; }

/* Styles pour les éléments SVG */
.PieChart .chart-label, svg text {
  fill: white !important;
}

.bullet {
  width: 8px;
  height: 8px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.benefit-title {
  font-weight: bold;
  font-size: var(--title-size, 18px);
  margin-bottom: var(--title-margin, 8px);
}

.benefit-description {
  font-size: var(--description-size, 16px);
}

#tech-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-image: url('/images/blocks.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

#tech-display div {
  width: 100%;
  padding: 5px;
}

@media (min-width: 768px) {
  #tech-display {
    flex-direction: row;
  }

  #tech-display div {
    width: 50%;
  }
}

.hidden { display: none; }

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

.autohide-snackbar, video {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

video {
  overflow: hidden;  
  object-fit: cover; 
}
